<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>RGB-Speaker</title>
    <!-- JS Libraries -->
    <!-- NPM Libs -->
    <!-- Moment.js for time formatting -->
    <script src="node_modules/moment/moment.js"></script>
    <!-- Angular Material and dependencies -->
    <script src="node_modules/angular/angular.min.js"></script>
    <script src="node_modules/angular-animate/angular-animate.min.js"></script>
    <script src="node_modules/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="node_modules/angular-aria/angular-aria.js"></script>
    <script src="node_modules/angular-messages/angular-messages.min.js"></script>
    <script src="node_modules/angular-material/angular-material.min.js"></script>
    <script src="node_modules/angular-material-icons/angular-material-icons.min.js"></script>
    <script src="node_modules/angular-cookies/angular-cookies.min.js"></script>
    <script src="node_modules/md-color-picker/dist/mdColorPicker.js"></script>
    <script src="node_modules/tinycolor2/dist/tinycolor-min.js"></script>
    <script src="node_modules/lodash/lodash.min.js"></script>
    <!-- Style Sheets -->
    <link href="node_modules/md-color-picker/dist/mdColorPicker.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="node_modules/angular-material/angular-material.min.css" type="text/css"/>
    <link rel="stylesheet" href="node_modules/angular-material-icons/angular-material-icons.css" type="stylesheet"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Project Files -->
    <script src="app.js"></script>
</head>
<body>
<md-toolbar class="md-hue-2">
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Settings" ng-disabled="true">
            <i class="material-icons">speaker_group</i>
        </md-button>
        <h2 flex md-truncate>RGB-Speaker Control Panel</h2>
    </div>
</md-toolbar>
<div ng-app="rgbSpeaker" ng-controller="mainCtrl">
    <md-select ng-model="port" placeholder="Select COM Port" required md-no-asterisk="false">
        <md-option ng-repeat="port in openPorts" ng-value="port">{{port}}</md-option>
    </md-select>
    <div ng-show="port" md-color-picker
         ng-model="colorPicker.color"
         label="Choose a color"
         icon="brush"
         default="#f00"
         md-color-generic-palette="false"
         md-color-material-palette="false"
         md-color-hsl="false"
         has-backdrop="false"
         md-color-clear-button="false"
         click-outside-to-close="false"
         open-on-input="true"
         md-color-alpha-channel="false"
    ></div>
</div>
</body>
<script>
    require('./renderer.js');
</script>
</html>
