<html>
<head>
    <meta charset="UTF-8">
    <title>RGB-Speaker</title>
    <!-- JS Libraries -->
    <!-- NPM Libs -->
    <!-- Moment.js for time formatting -->
    <script src="node_modules/moment/moment.js"></script>
    <!-- Angular Material and dependencies -->
    <script src="node_modules/angular/angular.min.js"></script>
    <script src="node_modules/angular-animate/angular-animate.min.js"></script>
    <script src="node_modules/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="node_modules/angular-aria/angular-aria.js"></script>
    <script src="node_modules/angular-messages/angular-messages.min.js"></script>
    <script src="node_modules/angular-material/angular-material.min.js"></script>
    <script src="node_modules/angular-material-icons/angular-material-icons.min.js"></script>
    <script src="node_modules/angular-cookies/angular-cookies.min.js"></script>
    <script src="node_modules/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="node_modules/md-color-picker/dist/mdColorPicker.js"></script>
    <script src="node_modules/tinycolor2/dist/tinycolor-min.js"></script>
    <script src="node_modules/lodash/lodash.min.js"></script>
    <script src="node_modules/jquery/dist/jquery.min.js"></script>
    <!-- Style Sheets -->
    <link href="node_modules/md-color-picker/dist/mdColorPicker.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="node_modules/angular-material/angular-material.min.css" type="text/css"/>
    <link rel="stylesheet" href="node_modules/angular-material-icons/angular-material-icons.css" type="stylesheet"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Project Files -->
    <script src="src/app.js"></script>
    <!-- Services -->
    <script src="src/services/ColorService.js"></script>
    <script src="src/services/AudioService.js"></script>
    <script src="src/services/SerialService.js"></script>
</head>
<body ng-app="rgbSpeaker" ng-controller="mainCtrl" ng-cloak>
<md-toolbar class="md-hue-2 md-whiteframe-3dp">
    <div class="md-toolbar-tools">
        <i class="material-icons">speaker_group</i>
        <h2 flex md-truncate>RGB-Speaker Control Panel</h2>
        <div style="float:right">
            <md-button class="md-icon-button" ng-click="config.debug = !config.debug">
                <md-tooltip md-direction="bottom">Enable/Disable Debugging</md-tooltip>
                <i class="material-icons">bug_report</i>
            </md-button>
            <md-button class="md-icon-button" ng-click="clearCookies()">
                <md-tooltip md-direction="bottom">Clear Cache</md-tooltip>
                <i class="material-icons">delete_forever</i>
            </md-button>
            <md-button class="md-icon-button" ng-click="showInfo()">
                <md-tooltip md-direction="bottom">Info</md-tooltip>
                <i class="material-icons">info</i>
            </md-button>
        </div>
    </div>
</md-toolbar>
<div>
    <md-card layout="row" layout-align="center center">
        <p>Device on Port&nbsp;&nbsp;</p>
        <md-select ng-model="port" placeholder="Select COM Port" required md-no-asterisk="false">
            <md-option ng-repeat="port in openPorts" ng-value="port">{{port}}</md-option>
        </md-select>
    </md-card>
    <md-card ng-show="port.substring(0,3) === 'COM'">
        <md-tabs md-selected="config.currentModeId">
            <md-tab label="Solid Color" ng-click="config.currentModeName='solid'">
                <md-tab-content layout="row" layout-align="space-around center">
                    <div flex="40"
                         ng-show="!config.modes.solid.stereo"
                         md-color-picker
                         ng-model="config.modes.solid.color"
                         label="Speakers"
                         icon="speaker"
                         default="#f00"
                         md-color-generic-palette="false"
                         md-color-material-palette="false"
                         md-color-sliders="false"
                         md-color-hsl="false"
                         has-backdrop="false"
                         md-color-clear-button="false"
                         open-on-input="true"
                         md-color-alpha-channel="false"
                    ></div>
                    <div flex="40"
                         ng-show="config.modes.solid.stereo"
                         md-color-picker
                         ng-model="config.modes.solid.colorLeft"
                         label="Left Speaker"
                         icon="speaker"
                         default="#f00"
                         md-color-generic-palette="false"
                         md-color-material-palette="false"
                         md-color-sliders="false"
                         md-color-hsl="false"
                         has-backdrop="false"
                         md-color-clear-button="false"
                         open-on-input="true"
                         md-color-alpha-channel="false"
                    ></div>
                    <span layout="column" layout-align="start center">
                        <md-subheader style="margin-top:-40%">Stereo</md-subheader>
                        <md-switch ng-model="config.modes.solid.stereo" ng-change="switchStereo" class="md-primary"
                                   style="margin-top:-20%"></md-switch>
                    </span>
                    <div flex="40"
                         ng-show="config.modes.solid.stereo"
                         md-color-picker
                         ng-model="config.modes.solid.colorRight"
                         label="Right Speaker"
                         icon="speaker"
                         default="#f00"
                         md-color-generic-palette="false"
                         md-color-material-palette="false"
                         md-color-sliders="false"
                         md-color-hsl="false"
                         has-backdrop="false"
                         md-color-clear-button="false"
                         open-on-input="true"
                         md-color-alpha-channel="false"
                    ></div>
                    <div flex="40"
                         style="pointer-events:none"
                         ng-show="!config.modes.solid.stereo"
                         ng-disabled="!config.modes.solid.stereo"
                         md-color-picker
                         ng-model="dummyValue"
                         label="Disabled"
                         icon="error"
                    ></div>
                </md-tab-content>
            </md-tab>
            <md-tab label="Rainbow" ng-click="config.currentModeName='rainbow'">
                <md-tab-content layout="column" layout-align="center center">
                    <md-slider-container flex="100">
                        <span>Speed</span>
                        <md-slider min="1" max="10" ng-model="config.modes.rainbow.speed" class="md-primary">
                        </md-slider>
                        <span>{{config.modes.rainbow.speed}}</span>
                    </md-slider-container>
                    <md-slider-container ng-disabled="true" flex="100">
                        <span>Intensity</span>
                        <md-slider min="1" max="255" ng-model="config.modes.rainbow.intensity" class="md-primary">
                        </md-slider>
                        <span>{{config.modes.rainbow.intensity}}</span>
                    </md-slider-container>
                </md-tab-content>
            </md-tab>
            <md-tab label="Breathing" ng-click="config.currentModeName='breathing'">
                <md-tab-content layout="row" layout-align="space-around start">
                    <div flex="40"
                         md-color-picker
                         ng-model="config.modes.breathing.color"
                         label="Speakers"
                         icon="speaker"
                         default="#f00"
                         md-color-generic-palette="false"
                         md-color-material-palette="false"
                         md-color-sliders="false"
                         md-color-hsl="false"
                         has-backdrop="false"
                         md-color-clear-button="false"
                         open-on-input="true"
                         md-color-alpha-channel="false"
                    ></div>
                    <div flex="40">
                        <md-slider-container style="margin-top: 20px">
                            <span>Speed</span>
                            <md-slider min="1" max="10" ng-model="config.modes.breathing.speed" class="md-primary">
                            </md-slider>
                            <span>{{config.modes.breathing.speed}}</span>
                        </md-slider-container>
                        <span layout="column" layout-align="start center">
                        <md-subheader>RGB</md-subheader>
                        <md-switch ng-model="config.modes.breathing.rgb" ng-change="switchRGB"
                                   class="md-primary" style="margin-top: -15px; margin-left: 7px"></md-switch>
                    </span>
                    </div>
                </md-tab-content>
            </md-tab>
            <md-tab label="Beat" ng-click="config.currentModeName='beat'">
                <md-tab-content layout="row" layout-align="center center">
                    <p><i>Coming soon&trade;.</i></p>
                </md-tab-content>
            </md-tab>
            <md-tab label="Spectrum" ng-click="config.currentModeName='spectrum'">
                <md-tab-content layout="row" layout-align="center center">
                    <p><i>Coming soon&trade;.</i></p>
                </md-tab-content>
            </md-tab>
        </md-tabs>
        <md-button class="md-raised md-primary" ng-click="save()">Save</md-button>
    </md-card>
    <div layout="row" layout-align="space-around start" ng-show="config.debug">
        <div>
            <md-subheader>Current Config</md-subheader>
            <pre>{{config | json}}</pre>
        </div>
        <div>
            <md-subheader>Cache - Device Config</md-subheader>
            <pre ng-show="configCache !== null">{{configCache | json}}</pre>
            <p ng-show="configCache == null">No cached data.</p>
        </div>
        <div>
            <md-subheader>Cache - Misc</md-subheader>
            <pre ng-show="portCache !== 'null'">{{portCache | json}}</pre>
            <p ng-show="portCache == 'null'">No cached data.</p>
            <md-subheader>Window Size</md-subheader>
            <pre>{{width}} x {{height}}</pre>
        </div>
    </div>
</div>
</body>
<script>
    require('./renderer.js');
</script>
</html>
